@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.dark {
  --bg-color: theme('colors.dark.primary');
  --text-color: theme('colors.dark.secondary');
}
input::state(ms-input-placeholder) {
  color: #9ca3af; /* Màu sắc bạn muốn */
}

.light {
  --bg-color: theme('colors.light.primary');
  --text-color: theme('colors.light.secondary');
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
