@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.dark {
  --bg-color: theme('colors.dark.primary');
  --text-color: theme('colors.dark.secondary');
}
input::state(ms-input-placeholder) {
  color: #9ca3af; /* Màu sắc bạn muốn */
}

.light {
  --bg-color: theme('colors.light.primary');
  --text-color: theme('colors.light.secondary');
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
df-messenger {
  --df-messenger-bot-message: white; /* Màu nền tin nhắn bot */
  --df-messenger-user-message: white; /* Màu nền tin nhắn user */
  --df-messenger-font-color: black; /* Chữ màu đen */
  --df-messenger-chat-background-color: #f5f5f5; /* Màu nền cửa sổ chat */
  --df-messenger-button-titlebar-color: white; /* Màu thanh tiêu đề */
  --df-messenger-button-titlebar-font-color: black; /* Màu chữ trên tiêu đề */
}
